@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    background: #3e3314;
}

.game-title {
    font-family: 'Merienda One', sans-serif; 
    text-align:center;
    color:#c1b30a;
    margin: 15px;
}

.time-flips-container {
    grid-column: 1/ -1;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 25px;
}


.time-flips {
    font-family: 'Shadows Into Light', sans-serif;
    color:#ffc107;
    font-size: 30px;
}

.game-container-16 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 25px;
    justify-content: center;
    perspective: 1000px;
}

.game-container-20 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    margin: 25px;
    justify-content: center;
    perspective: 1000px;
}

.game-container-24 {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    margin: 25px;
    justify-content: center;
    perspective: 1000px;
}
.game-card {
    position: relative;
    transform-style:preserve-3d;
    transition: transform 0.8s;
    border: 2px solid black;
}

.game-card.flip {
    transform: rotateY(180deg);
    border: 2px solid white;
}

.front-face {
    position: absolute;
    transform: rotateY(180deg); 
}

.front-face, .back-face {
    -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.welcome-text {
    margin: 35px;
    font-family: 'Merienda One', sans-serif; 
    text-align:center;
    color: #ecc961;
}

.let-text {
    font-family: 'Merienda One', sans-serif; 
    text-align:center;
    color: #d39e00;
    margin-bottom:30px;
}

.level-text {
    font-family: 'Merienda One', sans-serif; 
    text-align:center;
    color: #908143;
}

.game-level {
    display: inline-flex;
}
.level-wrapper {
   text-align:center; 
}


.level-easy,
.level-medium,
.level-hard {
    display: inline-block;
    text-align: center;
    margin: 10px 60px 10px 60px;
    width: 150px;
    height: 100px;
    border: 1px solid #ffff009e;
    background-color: #8a811ce0;
    color: #716951;
}

.level-easy:hover,
.level-medium:hover,
.level-hard:hover {
    border: 1px solid #fbfbb79e;
    background-color: #6d682be0;
}

.instruction {
    margin:10px;
    text-align: center;
    font-size: 15px; 
    color:#d4ad39;
}

.instruction li {
   margin:10px; 
   color:#d4ad39; 
}






