@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    background: #b5922a;
}

.game-title {
    font-family: 'Merienda One', sans-serif; 
    text-align:center;
    color:#c1b30a;
    margin: 10px;
}

.time-flips-container {
    grid-column: 1/ -1;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 25px;
}


.time-flips {
    font-family: 'Shadows Into Light', sans-serif;
    color: red;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 1000px;
}

.game-card {
    position: relative;
    transform-style:preserve-3d;
    transition: transform 0.8s;
    border: 2px solid black;
}

.game-card.flip {
    transform: rotateY(180deg);
    border: 2px solid white;
}

.front-face {
    position: absolute;
    transform: rotateY(180deg); 
}

.front-face, .back-face {
    -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.welcome-text {
    font-family: 'Merienda One', sans-serif; 
    text-align:center;
}

.let-text {
    font-family: 'Merienda One', sans-serif; 
    text-align:center;
}

.level-text {
    font-family: 'Merienda One', sans-serif; 
    text-align:center;
}

.game-level {
    display: inline-flex;
}


.level-easy,
.level-medium,
.level-hard {
    display: inline-block;
    text-align: center;
    margin: 10px 60px 10px 40px;
    width: 150px;
    height: 100px;
    border: 1px solid yellow;
}

.instruction {
    margin:10px;
    text-align: center;
    font-size: 15px; 
}

.instruction li {
   margin:10px;  
}






